@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    box-sizing: border-box;
    font-weight: normal;
	margin: 0;
	padding: 0;
}

a {
    text-decoration: none;
}

html {
    font-size: 60%;
}

body {
    background: grey;
	font-family: 'Lato', sans-serif;
    font-size: 2.0rem;
	padding: 10vw;
}

header {
    background: silver;
    color: white;
    padding: 5vw;
    text-transform: uppercase;
}

header img {
    float: right;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

section {
	background: white;
    padding: 5vw;
}

footer {
	background: black;
    color: white;
    padding: 5vw;
}

h1 {
    font-size: 3.0rem;
    margin: 0 0 1.5rem 0;
}

h2 {
    font-size: 2.5rem;
    margin: 0 0 1.0rem 0;
}

textarea {
    font-family: Consolas;
    padding: 1.0rem;
	width: 100%;
}

input, select {
	font-family: 'Lato', sans-serif;
    font-size: 2.0rem;
    padding: 1.0rem;
}

[type=button] {
    cursor: pointer;
}

#authentication p {
    margin: 0 0 1.0rem 0;
    text-align: justify;
}

#login {
    background: silver;
    margin: 2.5vw;
    padding: 2.5vw 5vw;
}

#login p {
    margin: 1.0rem 0 0 0;
}

#login input {
    display: block;
    margin: 1.0rem 0 0 0;
    width: 100%;
}

#information {
    color: red;
}

#development {
    display: none;
}

#development p {
    margin: 1.0rem 0;
}

#code, #output {
	height: 30vh;
    white-space: pre;
    margin-bottom: 1.0rem;
}

#code {
    border-color: black;
    border-style: solid;
    border-width: 1px;
	font-size: 12px;
}